.personal-info{
    display: flex;
    gap: 5px;
    margin-top: 20px;
    margin-left: 20px;
    
}

.personal-info img{
    height: 50px;
    width: 50px;
    border-radius: 30px;
}
.personal-container{
    display: flex;
    gap: 20px;
    margin-left: 5px;
    margin-top: 10px;
    background-color: aquamarine;
    border-radius: 10px;
}

